### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [2]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)

## Player Count

* Display the total number of players

In [3]:
tot_players = len(purchase_data["SN"].value_counts())

#create df
play_count = pd.DataFrame({"Total Players":[tot_players]})
play_count

   Total Players
0            576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [6]:
unique_items = len((purchase_data["Item ID"]).unique())
avg_price = (purchase_data["Price"]).mean()
num_purchase = (purchase_data["Purchase ID"]).count()
tot_rev = (purchase_data["Price"]).sum()

summ_df = pd.DataFrame({"Number of Unique Items":[unique_items],
                       "Average Price": [avg_price],
                       "Number of Purchases": [num_purchase],
                       "Total Revenue" : [tot_rev]})
summ_df.style.format({"Average Price":"${:,.2f}","Total Revenue":"${:,.2f}"})

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [30]:
gender_info = purchase_data.groupby("Gender")
tot_gender_count = gender_info.nunique()["SN"]
tot_player_percent = tot_gender_count / tot_players * 100
gender_df = pd.DataFrame({"Percentage of Players":tot_player_percent,
                          "Total Count": tot_gender_count})
gender_df.index.name = None

gender_df.sort_values(["Total Count"], ascending = True).style.format({"Percentage of Players":"${:.2f}"})


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [14]:
purch_count = gender_info["Purchase ID"].count()

avg_purch_price = gender_info["Price"].mean()

avg_purch_tot = gender_info["Price"].sum()

per_person = avg_purch_tot / tot_gender_count * 100

purch_gender_df = pd.DataFrame({"Purchase Count" : purch_count,
                                "Average Purchase Price" : avg_purch_price,
                               "Average Purchase Total" : avg_purch_tot,
                               "Average Purchase Total per Person" : per_person})

purch_gender_df.index.name = "Gender"
purch_gender_df.style.format({"Average Purchase Price" : "${:.2f}",
                              "Average Purchase Total" : "${:.2f}",
                              "Average Purchase Total per Person" : "${:.2f}"})

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [19]:
ages = [0, 9.90, 14.90, 19.90, 24.90, 29.90, 34.90, 39.90, 999]
age_ranges = ['<10', '10-14', '15-19', '20-24', '25-29', '30-34', '35-39', '40+']

purchase_data['Age Group'] = pd.cut(purchase_data['Age'], ages, labels = age_ranges)
purchase_data

age_grp = purchase_data.groupby('Age Group')

tot_count_age = age_grp['SN'].nunique()

percent_by_age = (tot_count_age/tot_players) * 100

age_demo = pd.DataFrame({'Percentage of Players': percent_by_age, 'Total Count': tot_count_age})
age_demo.index.name = None

age_demo.style.format({'Percentage of Players': '{:,.2f}'})

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [22]:
purchase_count_age = age_grp['Purchase ID'].count()

avg_purchase_price_age = age_grp['Price'].mean()

tot_purchase_value = age_grp['Price'].sum()

avg_purchase_value = tot_purchase_value/tot_count_age

age_demo = pd.DataFrame({"Purchase Count" : purchase_count_age,
                         "Average Purchase Price" : avg_purchase_price_age,
                         "Total Purchase Value" : tot_purchase_value,
                         "Average Purchase Total per Person" : avg_purchase_value})
age_demo.index.name = None


age_demo.style.format({"Average Purchase Price" : "${:.2f}",
                       "Total Purchase Value" : "${:.2f}",
                       "Average Purchase Total per Person" : "${:.2f}"})

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [27]:
spender_stats = purchase_data.groupby('SN')

purch_count_spender = spender_stats['Purchase ID'].count()

avg_purch_price = spender_stats['Price'].mean()

purch_total_spender = spender_stats['Price'].sum()

top_spenders = pd.DataFrame({"Purchase Count" : purch_count_spender,
                         "Average Purchase Price" : avg_purch_price,
                         "Total Purchase Value" : purch_total_spender})
format_spenders = top_spenders.sort_values(['Total Purchase Value'], ascending = True).head()

format_spenders.style.format({"Average Purchase Price" : "${:.2f}",
                       "Total Purchase Value" : "${:.2f}",
                       "Total Purchase Value" : "${:.2f}"})

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, average item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [28]:
items = purchase_data[['Item ID', 'Item Name', 'Price']]
item_stats = items.groupby(['Item ID', 'Item Name'])

purch_count_item = item_stats['Price'].count()

purch_value = (item_stats['Price'].sum())

item_price = purch_value / purch_count_item

pop_items = pd.DataFrame({"Purchase Count" : purch_count_item,
                         "Item Price" : item_price,
                         "Total Purchase Value" : purch_value})
format_pop = pop_items.sort_values(['Purchase Count'], ascending = True).head()

format_pop.style.format({"Item Price" : "${:.2f}",
                         "Total Purchase Value" : "${:.2f}"})

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [29]:
profit_format = pop_items.sort_values(['Total Purchase Value'], ascending = True).head()

profit_format.style.format({"Item Price" : "${:.2f}",
                         "Total Purchase Value" : "${:.2f}"})